<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GoogleApiUrl" value="https://www.googleapis.com/customsearch/v1"/>
    <add key="GoogleApiContext" value="017576662512468239146:omuauf_lfve"/>
    <add key="GoogleApiKey" value="AIzaSyDDdagLf6Sui7SX9CjfyeExkWNgyJqdIVk"/>
    <add key="BingApiUrl" value="https://api.cognitive.microsoft.com/bing/v5.0/search"/>
    <add key="BingApiKey" value="65ff8b224cf5465a9957e628aa6ae4e5"/>
  </appSettings>
</configuration>